<a href="https://colab.research.google.com/github/F-Boivin/coder_datascience1/blob/main/Datasets%2Bboivin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìä Bases de Python: Elecci√≥n de Datasets

Este notebook contiene el **primer avance del proyecto final**. El objetivo es identificar y documentar tres fuentes de datos que cumplan con los requisitos t√©cnicos para un an√°lisis posterior.

---

### üìù Resumen de la Consigna
Identificar **3 datasets potenciales** con las siguientes caracter√≠sticas m√≠nimas:
* **Filas:** $\geq 2000$
* **Columnas:** $\geq 10$

---

## üõ†Ô∏è Tareas a Realizar

1.  **B√∫squeda:** Seleccionar 3 datasets (GitHub, Kaggle, Google Dataset Search o archivos propios).
2.  **Hosting:** Subir los archivos a un repositorio de **GitHub**.
3.  **Carga de Datos:** Importar los datasets utilizando la librer√≠a `pandas`.
4.  **An√°lisis Preliminar:** Describir las variables m√°s relevantes seg√∫n el contexto comercial y anal√≠tico.

---

## üìã Requisitos y Formato

| Criterio | Detalle |
| :--- | :--- |
| **Repositorio** | Los datasets deben estar compartidos desde GitHub. |
| **C√≥digo** | El notebook debe estar probado y ser funcional. |
| **Formato de Entrega** | Archivo `.ipynb` |
| **Nombre del Archivo** | `Datasets+Apellido.ipynb` |

In [1]:
import pandas as pd

# 1. Dataset: Impacto de la IA en el Rendimiento Estudiantil

### Contexto
Este conjunto de datos explora c√≥mo el uso de herramientas de Inteligencia Artificial (como ChatGPT o asistentes de c√≥digo) influye en los resultados acad√©micos de los estudiantes. Permite analizar los efectos de la tecnolog√≠a en el desempe√±o del alumno.

### Variables de inter√©s para el an√°lisis:
* **ai_usage_time_minutes (Tiempo de uso):** Permite ver si pasar m√°s tiempo usando IA se traduce directamente en mejores notas o si hay un l√≠mite.
* **ai_dependency_score (Nivel de dependencia):** Analiza la dependencia del alumno; qu√© tan "necesaria" siente que es la herramienta para su d√≠a a d√≠a.
* **final_score (Nota final):** Es nuestra medida de √©xito. Queremos ver c√≥mo todas las dem√°s variables terminan afectando este n√∫mero.

In [2]:
# Dataset 1 - AI impact student performance
ai_impact_student_performance_dataset = pd.read_csv('https://raw.githubusercontent.com/F-Boivin/coder_datascience1/refs/heads/main/ai_impact_student_performance_dataset.csv')
ai_impact_student_performance_dataset.head()

,student_id,age,gender,grade_level,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_tools_used,ai_usage_purpose,ai_dependency_score,...,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed,performance_category
0,1,20,Female,1st Year,2.5,1,170,NaN,Exam Prep,10,...,4,9.0,8.1,7.2,1.5,4.6,6,36.8,0,Low
1,2,17,Male,12th,3.4,1,123,NaN,Notes,4,...,8,8.5,13.8,7.6,5.1,2.7,6,65.5,1,Medium
2,3,24,Male,3rd Year,0.8,0,35,Copilot,Doubt Solving,8,...,7,2.1,39.1,5.7,0.2,4.0,3,66.3,1,Medium
3,4,21,Female,12th,4.4,0,45,ChatGPT+Gemini,Notes,3,...,5,6.7,25.2,8.2,4.2,2.9,2,69.5,1,Medium
4,5,18,Other,3rd Year,3.5,1,21,ChatGPT+Gemini,Coding,2,...,5,5.4,2.7,8.7,0.2,2.9,2,49.7,1,Low

# 2. Dataset: Campa√±as de Marketing Bancario

### Contexto
Estos datos pertenecen a una instituci√≥n bancaria de Portugal que realiz√≥ campa√±as de marketing directo (llamadas telef√≥nicas) para que sus clientes contraten un dep√≥sito a plazo fijo. El objetivo anal√≠tico es descubrir qu√© caracter√≠sticas del cliente o de la llamada hacen que la persona acepte el producto.

### Variables de inter√©s para el an√°lisis:
* **age (Edad):** Nos sirve para identificar a qu√© rango de edad le interesan m√°s los productos de ahorro del banco.
* **duration (Duraci√≥n de la llamada):** Es un indicador clave de inter√©s. Anal√≠ticamente, ayuda a entender cu√°nto tiempo debe durar una charla para ser efectiva.
* **balance (Saldo en cuenta):** Nos permite saber si el nivel econ√≥mico del cliente influye en su decisi√≥n de invertir en un dep√≥sito a plazo.
* **y (Target):** Indica si el cliente contrat√≥ el producto. Es la variable m√°s importante porque es el resultado final que queremos predecir.

In [3]:
# Dataset 2 - Bank marketing
bank_marketing = pd.read_csv('https://raw.githubusercontent.com/F-Boivin/coder_datascience1/refs/heads/main/bank.csv', sep=';')
bank_marketing.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

# 3. Dataset: Calidad del Vino Blanco

### Contexto
Este dataset contiene mediciones qu√≠micas de casi 5.000 variantes de vino blanco. El objetivo es relacionar estas medidas objetivas (como el alcohol o la acidez) con la calificaci√≥n de "calidad" que expertos humanos le dieron a cada vino. Es ideal para entender qu√© hace que un producto sea considerado de "alta gama".

### Variables de inter√©s para el an√°lisis:
* **alcohol (Graduaci√≥n alcoh√≥lica):** Es una de las variables que m√°s suele influir en el puntaje de calidad que ponen los expertos.
* **residual sugar (Az√∫car residual):** Importante para clasificar los vinos seg√∫n el gusto del consumidor (secos vs. dulces) y ver si influye en la nota final.
* **quality (Calidad):** Es el puntaje del 1 al 10. Es la variable principal que queremos entender y predecir usando la qu√≠mica del vino.

In [4]:
# Dataset 3 - White whine quality
white_wine_quality = pd.read_csv('https://raw.githubusercontent.com/F-Boivin/coder_datascience1/refs/heads/main/winequalitywhite.csv')
white_wine_quality.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6